:root {
	--box-shadow-top: 0px -5px 20px rgba(0,0,0,0);
}

@font-face {
	font-family: "PublicPixel";
	src: url("./fonts/PublicPixel.ttf") format('opentype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

@media (max-width: 1130px) {
	.nwrap {
		margin-left: 10px;
	}
}


@media (max-width: 1030px) {
	.nwrap {
		margin-left: 2%;
	}
}

@media (max-width: 970px) {
	.nwrap {
		margin-left: 5px;
	}
}

