@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
	--box-shadow-top: 0px -5px 20px rgba(0,0,0,0);
}

@font-face {
	font-family: "PublicPixel";
	src: url("./fonts/PublicPixel.ttf") format('opentype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	font-family: "Roboto", sans-serif;
	text-decoration: none;
	color: white;
}

.c-w {
	color: white;
}

.c-b {
	color: black;
}

.c-b:hover {
	color: blue;
}

.f-l {
	float: left;
}
